.recentTransactionsModal {
  &__container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    max-height: 90vh;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 32px;
    height: 100%;
    margin: 0 12px;
    gap: 24px;
  }

  &__closeButton {
    cursor: pointer;
    transition: all 0.3s;
    width: 32px;
    height: 32px;
    border-radius: 10px;

    &:hover {
      color: #4b5563;
      background: #e5e7eb;
      border-radius: 10px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__transactions {
    overflow: auto;
  }
}
