.categoryItem {
  &__iconGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 8px;
    max-height: 150px;
    width: 100%;
    overflow: auto;
    margin-top: 8px;
  }

  &__iconButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border-radius: 16px;
    border: 2px solid #e5e7eb;
    transition: all 0.3s;
    cursor: pointer;
    background-color: transparent;
    color: #000;

    &.selectedIncome {
      border-color: #16a34a;
      background-color: #d1fae5;
      color: #16a34a;
    }

    &.selectedExpense {
      border-color: #ef4444;
      background-color: #fee2e2;
      color: #ef4444;
    }

    &:not(.selectedIncome):not(.selectedExpense):hover {
      border-color: #a6a9ac;
      background-color: #fff;
      color: #000;
    }
  }
}
