@font-face {
  font-family: "SF Pro Regular";
  src: url("/fonts/SF-Pro/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Regular", sans-serif;
}

body {
  background: linear-gradient(180deg, #7cc9f2 0%, #f4a7c3 50%, rgba(253, 211, 181, 1) 75%, rgba(253, 211, 181, 0) 100%);
  background-repeat: no-repeat;
  background-size: 100% 10%;
}
