.operationButton {
  &__toggleButton {
    border-radius: 16px;
    padding: 12px 24px;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #e5e7eb;

    &.activeIncome {
      background: #16a34a;
      color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &.activeExpense {
      background: #ef4444;
      color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &.inactive {
      color: #4b5563;

      &:hover {
        color: #1f2937;
      }
    }
  }
}
